body {
  color: #e91e63;
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  text-align: center;
  color: navy;
}

a {
  text-decoration: none;
}

h3 {
  color: navy;
}

.navyText {
  color: navy;
}

#main-div, #nav-bar {
  max-width: 50%;
  display: block;
  margin: auto;
}

#nav-bar img {
  display: block;
  margin: auto;
}