<h3>Please create an artist entry</h3>

<form action="/artists" method="post">
  <label for="name">Artist name:</label>
  <input type="text" name="name">

  <input type="submit" value="Submit Artist">
</form>