<h2>Here are all the albums</h2>

<% @albums.each do |album| %>
  <h3><%= album.name %></h3>
  <p><span class="navyText">by </span> 
    <% artist = Artist.find(album.artist_id) %>
    <b><%= artist.name %></b>
  </p>
  <hr>
<% end %>
