<h3>Here are all the albums</h3>

<% @albums.each do |album| %>
  <p><b>Name: </b><%= album.name %></p>
  <p><b>Artist: </b>
    <% artist = Artist.find(album.artist_id) %>
    <%= artist.name %>
  </p>
  <hr>
<% end %>
