<h2>Add album information</h2>

<form action="/albums" method="post">
  <p>
    <label for="artist_id">Select the artist:</label>
    <select name="artist_id">
      <option label=" "></option>
      <% @artists.each do |artist| %>
        <% artist_id = artist.id %>
        <option value="<%= artist.id %>"><%= artist.name %></option>
      <% end %>
    </select>
  ... or, <a href="/artists/new">add a new artist</a></p>
  <p>
    <label for="name">Album name:</label>
    <input type="text" name="name">
  </p>
  <p><input type="submit" value="Submit Album"></p>
</form>