<h3>Add album information</h3>

<form action="/albums" method="post">
  <label for="name">Album name:</label>
  <input type="text" name="name">
  

  <input type="submit" value="Submit Album">
</form>